.staff {
    transition: transform .5s ease;
}
.staff:hover {
    transform: scale(.95);
}
.owner {
    border: 6px solid #a69f44
}
.contributor {
    border: 6px solid #a69f44
}
.tag.is-owner {
    text-align: center;
}
.tag.is-contributor {
    text-align: center;
}
.columns {
    width: 50%
}